<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <!-- Sideload build: drop notification listener + phone services that trigger Play Protect fraud blocks -->
        <service
            android:name=".NotificationRelay"
            tools:node="remove" />
        <service
            android:name=".CallAnsweringService"
            tools:node="remove" />
        <activity
            android:name=".DialerActivity"
            tools:node="remove" />
    </application>
</manifest>